* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
max-width: 3840px;
min-height: 100vh;
border: 1px;
display: grid;
grid-gap: 5px;
background-color: white;
grid-template-rows: 0.45fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:
  "nav nav nav nav"
  "content content . pic"
  "pic2 . content2 content2"
  "content3 content3 . pic3"
  "pic4 . content4 content4"
  "footer footer footer footer";

}

.pic {
  grid-area: pic;
  margin-right: 100px;
  margin-bottom: 200px;
 }

.pic2 {
   grid-area: pic2;
   margin-left: 100px;
   margin-bottom: 200px;
  }

.pic3 {
    grid-area: pic3;
    margin-right: 100px;
    margin-bottom: 200px;
   }

 .pic4 {
   grid-area: pic4;
   margin-left: 400px;
   margin-bottom: 200px;
  }

.content {
grid-area: content;
text-align: center;
margin: 30px;
}

h1 {
font-family: Oswald, sans-serif;
font-size: 45px;
}

p {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;

}

.content2 {
grid-area: content2;
text-align: center;
}

h1 {
font-family: Oswald, sans-serif;
font-size: 45px;
}

p {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;

}

.content3 {
grid-area: content3;
text-align: center;
}

h1 {
font-family: Oswald, sans-serif;
font-size: 45px;
}

p {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;

}

.content4 {
grid-area: content4;
text-align: center;
}

h1 {
font-family: Oswald, sans-serif;
font-size: 45px;
}

p {
  font-family: Noto Sans, sans-serif;
  font-size: 20px;

}

.footer {
  grid-area: footer;
  background-color: #9B2B2B;
  margin-top: 100px;
  text-align: center;
  font-family: Oswald, sans-serif;
  color: white;

}

nav ul {
  display: flex;
  align-items: center;
  background-color: #9B2B2B;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  flex-direction: row;
}
li {
  display: inline flex;
  justify-content: space-between;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  font-family: Oswald, sans-serif;
  grid-area: nav;
  overflow: hidden;
  width: auto;
}

.navbar a {
  background-color: #9B2B2B;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 2px;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  margin: 2px;
  border: 3px;
  align-items: center;
  background-color: #D3B175;
  color: black;
}

@media (min-width: 601px) and (max-width: 1024px){

  .wrapper{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "content pic"
    "pic2 content2"
    "content3 pic3"
    "pic4  content4"
    "footer footer";
  }

  nav ul {
    flex-direction: row;
  }

  article {
    max-width: 300px;
  }

  img {
    margin-left: 0;
    max-width: 300px;
    height: auto;

  }

  .pic {
    margin-top: 150px;
    grid-area: pic;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 300px;
    height: auto;
   }

  .pic2 {
     grid-area: pic2;
     margin-top: 150px;
     margin-left: 0;
     margin-bottom: 0;
     max-width: 300px;
     height: auto;
    }

  .pic3 {
      grid-area: pic3;
      margin-top: 100px;
      margin-right: 0;
      margin-bottom: 0;
      max-width: 300px;
      height: auto;
     }

   .pic4 {
     grid-area: pic4;
     margin-left: 0;
     margin-bottom: 0;
     max-width: 300px;
     height: auto;
    }

  .content {
  grid-area: content;
  text-align: center;
  margin: 0;
  }

  h1 {
  font-family: Oswald, sans-serif;
  }

  p {
    font-family: Noto Sans, sans-serif;

  }

  .content2 {
  grid-area: content2;
  text-align: center;
  }

  h1 {
  font-family: Oswald, sans-serif;
  }

  p {
    font-family: Noto Sans, sans-serif;

  }

  .content3 {
  grid-area: content3;
  text-align: center;
  }

  h1 {
  font-family: Oswald, sans-serif;
  }

  p {
    font-family: Noto Sans, sans-serif;

  }

  .content4 {
  grid-area: content4;
  text-align: center;
  }

  h1 {
  font-family: Oswald, sans-serif;
  }

  p {
    font-family: Noto Sans, sans-serif;

  }

}


@media (max-width: 600px){

  .wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "nav nav"
    "content content"
    "pic pic"
    "content2 content2"
    "pic2 pic2"
    "content3 content3"
    "pic3 pic3"
    "content4 content4"
    "pic4 pic4"
    "footer footer";
  }

  nav ul {
    flex-direction: column;
  }

  img {
    margin-left: 12.5%;
    max-width: 75%;
    height: auto;

  }
  .pic {
    margin-left: 75px;
    grid-area: pic;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 300px;
    height: auto;
   }

  .pic2 {
     grid-area: pic2;
     margin-left: 75px;
     margin-bottom: 0;
     max-width: 300px;
     height: auto;
    }

  .pic3 {
      grid-area: pic3;
      margin-left: 75px;
      margin-right: 0;
      margin-bottom: 0;
      max-width: 300px;
      height: auto;
     }

   .pic4 {
     grid-area: pic4;
     margin-left: 75px;
     margin-bottom: 0;
     max-width: 300px;
     height: auto;
    }


}
